<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> Simple Task List </title>
    <link rel="stylesheet" href="static\css\style.css" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
</head>

<body>
    <div id="main_wrapper">
        <header id="main_header">
            Logo code goes here.
        </header>

        <section id="main_section">
            <article id="article">
                <header>
                    <h1>This is the header</h1>
                </header>
                <p>Simply manage daily task</p>
            </article>

        </section>

        <aside id="login_aside">
            <form method="POST" action="">
                <ul>
                    <li><input type="text" name="email" placeholder="EMail"/>
                    <li><input type="password" name="password" placeholder="Password"/>
                    <li><input type="submit" name="Submit" value="Sign in"/>
                </ul>
            </form>
        </aside>

        <aside id="signup_aside">
            <header>
                <p>New to Simple Task List?</p>
            </header>
            <form method="POST" action="">
                <ul>
                    <li><input type="text" name="fullname" placeholder="Full Name"/>
                    <li><input type="text" name="email" placeholder="EMail"/>
                    <li><input type="password" name="password" placeholder="Password"/>
                    <li><input type="submit" name="Submit" value="Sign up"/>
                </ul>
            </form>
        </aside>

        <footer id="main_footer">
            footer information
        </footer>
    </div>
</body>
