{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form id="signupform"  class="form" method=post action="">
    <h3>Signup</h3>

        <div class="field">
            <label for="email">Email:</label>
            <input type="text" class="input" name="email" id="email" />
        </div>

        <div class="field">
            <label for="password">Password:</label>
            <input type="password" class="input" name="password" id="password" />
        </div>    
           <input type="submit" name="Submit" class="button"  value="Signup">
    </form>
{% endblock %}
