{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{url_for('main.new_task')}}" method=post>
                <label>Task:</label>
                <input type=text name=note>
                <input type=submit value=Save>
        </form>

        <ul class=tasks>
        {% for t in tasks %}
            {% if t['completed'] == False %}
                <li><strong>{{ t['createdOn'] }} : {{ t['note'] }}</strong>
                <a href="{{ url_for('main.delete_task', task_id = t['task_id'], user_id = session['user_id']) }}">Delete</a>
                <a href="{{ url_for('main.mark_complete', task_id = t['task_id'], user_id = session['user_id']) }}">Mark Complete</a>
            {% endif %}
            {%if t['completed'] == True %}
                <li><strike>{{ t['createdOn'] }} : {{t['note'] }} </strike>   
                <a href="{{ url_for('main.delete_task', task_id = t['task_id'], user_id = session['user_id']) }}">Delete</a></li>
            {% endif %}
            {% else %}
                <li>Unbelievable. Task list is empty.</li>
            {% endfor %}
    {% endif %}
    </ul>
{% endblock %}
